.formacao{
    background: #141414;
    color: #ffffff;
}

.formacao-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns:  1fr 3fr;
    padding: 40px 20px;
    margin: 0 auto;
    column-gap: 80px;
    row-gap: 40px;
    align-items: center;
}

.formacao .subtitulo{
    font-size: 6rem;
    color: #000000;
    text-transform: uppercase;
    max-width: 4ch;
    display: inline-block;
    word-break: break-all;
    grid-row: 1/4;
}

.formacao-texto{
    font-size: 1.2rem;
    max-width: 60ch;
    color: #a3a3a3;
}

.formacao-texto strong{
    color: white;
}

.formacao-lista{
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 60px; */
}

.formacao-lista-item{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.formacao-tipo{
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.formacao-curso{
    font-size: 1.125rem;
    flex: 1;
    position: relative;
    margin-bottom: 50px;
}

.formacao-curso::before{
    content: "";
    position: absolute;
    background: linear-gradient(to bottom right, rgb(25, 0, 168), #12e4f3);
    width: 4px;
    height: 20px;
    top:0px;
    left: -24px;
}

.formacao-instituicao{
    font-size: 1.125rem;
    color: #a3a3a3;
}

.cursos{
    margin-bottom: 50px;
}

.formacao-extra h3{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}

.formacao-extra li{
    margin-bottom: 10px;
    font-size: 1.125rem;
}

.formacao-extra .cursos h3::before{
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    background: url("./img/globo.png") no-repeat;
    left: -25px;
}

.instituto-tempo{
    font-size: 0.8rem;
    color: #8f8f8f;
}

.idiomas-nivel{
    font-size: 0.8rem;
    color: #8f8f8f;
}

.idiomas h3::before{
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    background: url("./img/traduzir.png") no-repeat;
    left: -25px;
}

.cursos li{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px){
    .formacao-container{
        column-gap: 50px;
        row-gap: 20px;
    }

    .formacao-texto{
        font-size: 1rem;
    }

    .formacao .subtitulo{
        font-size: 4.5rem;
    }

    .formacao-tipo{
        font-size: 0.7rem;
    }

    .formacao-extra h3{
        font-size: 0.75rem;
    }

    .formacao-extra li{
        font-size: 1rem;
    }
}

@media(max-width: 800px){
    .formacao-container{
        display: grid;
        grid-template-columns:  1fr;
        align-items: center;
    }

    .formacao-container .subtitulo{
        color: #ffffff;
        max-width: initial;
        font-size: 3.5rem;
        text-transform: capitalize;
    }

    .formacao{
        padding-left: 10px;
    }

    .formacao-lista{
        flex-direction: column;
        max-width: 250px;
    }

    .formacao-container li{
        font-size: 0.9rem;
        position: relative;
    }

    .formacao-extra li::before{
        content: "-";
        position: absolute;
        left: -8px;
    }

    .cursos li{
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .instituto-tempo{
        text-align: end;
    }

    .cursos li{
        margin-bottom: 20px;
    }
}