body{
    font-family: arial, helvetica, sans-serif;
    margin: 0px;
    margin-top: 60px;
    background: #f8f8f8;
    display: grid;
    gap: 60px;
    justify-items: center;
}

header .logoMarca{
    text-align: center;
    margin-bottom: 40px;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

p, h1, h2, h3{
    margin: 0px;
}

p{
    font-size: 20px;
    line-height: 1, 3;
}

.menu{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav .menu{
    list-style: none;
}

.menu a{
    background-color: white;
    color: black;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.1s;
    border: 2px solid transparent;
}

nav .menu a:hover{
    border: 2px solid #fcb404;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introducao{
    background-color: white;
    padding: 40px;
    text-align: right;
    display: grid;
    align-content: center;
    gap: 10px;
    position: relative;
    justify-items: end;
}

.introducao::before{
    content: "";
    height: 4px;
    width: 60px;
    background-color: #fcb404;
    position: absolute;
    top: 30px;
    right: -30px;;
}

.botao{
    padding: 10px 20px;
    background-color: #fcb404;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.3s;
}

.botao:hover{
    background-color: #e0a101;
}

.subtitulo{
    align-self: center;
    text-align: end;
    text-transform: uppercase;
    font-size: 64px;
    padding-right: 20px;
    color: #c5c5c5;
}

.vantagens{
    background-color: white;
    padding: 40px;
}


.vantagens-item{
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 10px 20px;
    padding: 10px;
    border-left: 4px solid transparent;
}

.vantagens-item:hover{
    border-left: 4px solid #fcb404;
}

.vantagens-item:nth-child(odd){
    background-color: #f8f8f8;
}

.vantagens-item p{
    grid-column: 2;
    padding-bottom: 20px;
}

footer{
    text-align: center;
    padding: 30px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

